{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
{{super()}}
{% endblock %}

{% block params %}

data-base-url='{{base_url}}'
data-extension-list='{{extension_list}}'

{% endblock %}

{% block headercontainer %}

<center><h2>Create Distributed Master Project</h2></center>
{% filter lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
{% endfilter %}

<style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>

<ul id="sortable1" class="">
  <li class="ui-state-default">Item 1</li>
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
  <li class="ui-state-highlight">Item 1</li>
  <li class="ui-state-highlight">Item 2</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul>

<div id="tree1"></div>

{% endblock %}

{% block header %}

{% endblock %}

{% block site %}

<div id="nbextensions-container" class="container"></div>
<input type="button" id="createNbButton" value="Create Project"/>
<input type="button" id="getFileButton" value="Get File"/>

<input id="notebook_id" value=""/>
<input type="button" id="mergeNotebook" value="Merge Notebook"/>
{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ "/nbextensions/config/main.js" }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/nbextensions/ma/dist_project/main.js" }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
