{% extends "page.html" %} {% block title %}{{page_title}}{% endblock %}
{% block stylesheet %} {{super()}}
<link href="/nbextensions/ma/client/dist_project/jqsteps/jquery.steps.css" rel="stylesheet">
<link href="/nbextensions/ma/client/dist_project/jqaccordion/jqaccordion.css" rel="stylesheet">
<link href="/nbextensions/ma/client/dist_project/dist_project.css" rel="stylesheet">

{% endblock %}
{% block params %} data-base-url='{{base_url}}' data-extension-list='{{extension_list}}' {% endblock %}
{% block headercontainer
%}

<center>
  <h2>Create Distributed Project</h2>
</center>
<!-- {% filter lower %} This text will be HTML-escaped, and will appear in all lowercase. {% endfilter %}

<style>
  #sortable1,
  #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }

  #sortable1 li,
  #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
</style>
-->
<!--*  #9dc8e2; -->

<div id="master-wizard">
  <!--
  <h3>Select Steps</h3>
  <section>
    {% for o in "12345" %}
    <div class="mining-steps clearfix">
        <div class="sbody">
          <span>Load Data</span>
        </div>
        <div class="saction">
            <a href="#" class="unselected">Select</a>
        </div>

    </div>
    {% endfor %}
  </section>

  <h3>General Information</h3>
  <section>
    <p>Wonderful transition effects.</p>
  </section>
  <h3>Add actions</h3>
  <section>
    <p>Wonderful transition effects.</p>
  </section>
  <h3>Bundle Actions</h3>
  <section>
    <p>The next and previous buttons help you to navigate through your content.</p>
  </section>
  <h3>Assign Users</h3>
  <section>
    <p>The next and previous buttons help you to navigate through your content.</p>
  </section>
  <h3>Create</h3>
  <section>
    <p>The next and previous buttons help you to navigate through your content.</p>
  </section>
  -->
</div>


<!--
<ul id="sortable1" class="">
  <li class="ui-state-default">Item 1</li>
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
  <li class="ui-state-highlight">Item 1</li>
  <li class="ui-state-highlight">Item 2</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul>

-->



{% endblock %} {% block header %} {% endblock %} {% block site %}

<div id="nbextensions-container" class="container"></div>
<input type="button" id="createNbButton" value="Create Project" />
<input type="button" id="getFileButton" value="Get File" />

<input id="notebook_id" value="" />
<input type="button" id="mergeNotebook" value="Merge Notebook" /> {% endblock %} {% block script %} {{super()}}

<script src="{{ " /nbextensions/config/main.js " }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ " /nbextensions/ma/client/dist_project/main.js " }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
