  .ui-accordion {
    padding: 0.5em;
    width: 20%;
  }
  .ui-accordion h2.ui-accordion-header {
    /*padding: .2em .2em .2em .3em;*/
    background: #9dc8e2;
    border: none;
    color: #fff;
    width: 100%;
  }
  .ui-accordion h2.ui-accordion-header.ui-accordion-header-active {
    background: #2184be;
  }
  .ui-accordion div.ui-widget-content {
    border: 1px solid #f1f1f1;
    width: 100%;
  }

  .ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
  }
  .ui-accordion .ui-widget-content ul li {
    list-style: none;
  }
  .ui-accordion .ui-widget-content ul li div.action-item {
    background:  rgba(0,0,0,0.05);
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 400;
    color:rgba(0,0,0,0.6);
  }

  .ui-accordion .ui-accordion-content .action-item {
    margin: 0.3em 0;
  }
